.companyinfo {
  display: grid;
  text-align: center;
  background-color: grey;
  width: 100%;
  justify-content: center;
  h3.widget-title{
    color:white;
    font-family: Avenir;
    font-size: 1.4em;
  }
  a {
    color: #FFFFFF;
    text-decoration: none;
    font-family: Avenir;
    font-weight: 100;
    font-size: 1em;
  }a:hover{
    color: purple;
    cursor: pointer;
  }
  .text_widget{
      font-family: Avenir;
      font-size: 1.2em;
  }
}

.socialmedia{
  color: white;
  font-size: 300%;
  :hover{
    color: purple;
    cursor: pointer;
  }
  .rights p{
    font-size: 20px;
    color: black;
  }
}

@media screen and (min-width: 1024px) {
  .companyinfo{
    display: flex;
  }
  .secondary {
  display: flex;
  width: 100%;
  justify-content: space-around;
  height: 200px;
  }
  .socialmedia{
    margin-top: 1% ;
  }
  
}

@media screen and (min-width: 600px) {

}

