.site-branding{
    width:100% ;
    margin: 0 auto;
}

.logo{
    width:50%;
}

.navmenu{
    // display: flex;
    position: fixed; 
    top: 30px; 
    width: 100%;
   
}
.mainmenu{
    // display: flex;
    width: 100%;
    position: fixed; 
    top: 0;

   
   ul{
    // width:60%;
    display: flex;
    justify-content: flex-end;
    word-spacing: 2px;
    list-style-type: none;
    
   }
   a {
    text-decoration: none ;
}
   
}
