
.floatingbox{
    background-color: grey;
    opacity: 1.0;
    position: absolute;
    z-index: 1;
    width: 340px;
    height: 200px;
    margin-top: 6%;
    margin-left: 46%;  
}

.floattext{
    
}

.wp-image-140{
    width:100%;
    height:auto;
    size: cover;
    position: relative;
    
}

#quotes{
    position: relative;
    background-size: 300px 100px;
    background-color: #c9c6c6;
   
}

.wp-image-103{
    width:100%;
    height:200px;
    object-fit:cover;
    
}
.people{
    display: flex;
}

.wp-image-122{
    width:100%;
    // height:auto;
    // size: cover;
    // position: relative;
}