.navmenu {
    position: fixed;
    top: 190px;
    width: 100%;
    z-index: 99;
 ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    word-spacing: 2px;
    list-style-type: none;
    line-height: 8;
}
}