

.bannerphoto {
    width: 100%;
    height: 100%; 
    margin:0%;
    text-align: center;   
}
.entry-header h1{
    position: absolute;
    width: 100%;   
    color: white;   
    z-index: 99;     
    text-align: center;   
    padding-top: 2%;
}

body{
    font-family: 'Noto Sans KR', sans-serif;
}

.section1{
    display: grid;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 1%;
    margin: 0%;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 15%;
    padding-right: 15%;
    h2{
    font-size: 2em;
    font-weight: bold;
    }
    p{
    font-size: 1.3em;
    line-height: 160%;
    }
}

.section2{
    display: grid;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 1%;
    margin: 0%;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 15%;
    padding-right: 15%;
    h4{
        .fontchange1{
            font-weight: bold;
            font-size: 1.2em;
            
        }
        .fontchange2{
            font-weight: bold;
            font-size: 1.2em;
            color:grey;
        }
    }
    p{
    font-size: 2em;
    font-weight: bold;
    padding-left: 15%;
    padding-right: 15%;
    line-height: 160%;
    }
}
h2{
    text-align: center;
}
.people{
    display: grid;
}
.people> div{
    
        text-align: center;
    
    .bio{
        margin-left: 20%;
        margin-right: 20%;
    }

}
.sponsors> section{
    display: flex;
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
p{
    font-size: 1.3em;
}
}


@media screen and (min-width: 1024px) {
    .entry-header h1{
        font-size: 5em !important;
        padding-top: 2%;
    }
    .people {
       
        grid-template-columns: repeat(4,1fr);
    }
  }
  
  @media screen and (min-width: 600px) {
    .entry-header h1{
        font-size: 3em;
        padding-top: 2%;
    }
    .people {
       
        grid-template-columns: repeat(4,1fr);
    }
  }
