

.post-383 h1{
    display: none ;
  }

  .entry-header h1{
    font-size: 1.5em; 
  }

.heroig{
    position: relative;
  }
.floatingbox{
    margin: 2%;
}

.quotes1 > h2 p{
    background-color: grey;
    margin: 2%;
}

.reasons{
    display: grid;
    div{
        margin:2%;
        text-align: center;
    }
    h4{
        text-align: center; 
    }
}

.process {
    display: grid;
    div{
        margin:2%;
        text-align: center;
    }
}
// .wp-image-140{
//     width:100%;
//     height:auto;
//     size: cover;
//     position: relative;
    
// }

// #quotes{
//     position: relative;
//     background-size: 300px 100px;
//     background-color: #c9c6c6;
   
// }

// .wp-image-103{
//     width:100%;
//     height:200px;
//     object-fit:cover;
    
// }
// .people{
//     display: flex;
// }

// .wp-image-122{
//     width:100%;
//     // height:auto;
//     // size: cover;
//     // position: relative;
// }


.quotes1{
    background-color: rgb(168, 168, 168);
    h2{
        text-align: center;
    } p{
        text-align: center;
    }
}
.process > h4{
        font-size: 1.5em;
}

.sb_instagram_header{
    width:100% !important;
    padding:0% !important;
    text-align: center !important;
}
@media screen and (min-width: 1024px) {
.floatingbox{
    background-color: grey;
    opacity: 1.0;
    position: absolute;
    z-index: 1;
    width: 340px;
    height: 200px;
    margin-top: -34%;
    margin-left: 56%;
.floattext{
    color:red;
    }
}

.reasons{
    grid-template-columns: repeat(3, 1fr)
}
    #sb_instagram .sb_instagram_header a {

        float: left;
        display: block;
        min-width: 100%\9;
        transition: color .5s ease;
        text-decoration: none;
        margin: 4% 0% 0% 4%;

    }
    .process > div {
        grid-template-columns: repeat(2, 1fr);    
    }
    .process{}
    .quotes1{
        height:300px;
        padding-top: 5%;
    }
    .quotes1 > div{
        padding-top: 5%;
    }
}

$button-bg-color: #6b0966;
	$button-border-color: #882b74;
	
	.button{
	  display: inline-block;
	  padding: 15px;
	  margin-right: 5px;
	  height: 50px;
	  min-width: 100px;
	  background: $button-bg-color;
	  color: white;
	  font-weight: 400;
	  font-size: 20px;
	  border-radius: 3px;
	  box-shadow: 0 5px 0px darken($button-bg-color,0%);
	  border-bottom: 2px solid darken($button-bg-color,3%);
	
	  &:hover{
	    background: darken($button-bg-color,5%);
	    box-shadow: 0 4px 1px darken($button-bg-color,5%);
	    border-bottom: 2px solid darken($button-bg-color,8%);
	    transition: all 0.1s ease-in;
      }
      &:active{
	    transform:translateY(4px);
	    border-bottom-width: 2px;
	    box-shadow: none;
	  }
    }
    
    .wp-image-140{
	    width:100%;
	    height:auto;
	    size: cover;
	    position: relative;
	
	}
	
	#quotes{
	    position: relative;
	    background-size: 300px 100px;
	    background-color: #c9c6c6;
	
	}
	
	.wp-image-103{
	    width:100%;
	    height:200px;
	    object-fit:cover;
	
	}
	.people{
	    display: flex;
	}
	
	.wp-image-122{
	    width:100%;
	    // height:auto;
	    // size: cover;
	    // position: relative;
	}