.programcopy{
  margin:5%;
  display: grid;
  align-content: center;
 

}
@media screen and (min-width: 1024px) {
  .programcopy{
    display:flex;
    justify-content: center;
    margin-right: 5%;
        .campsinfo{
        width: 50%;
        h3{
        font-size: 1em;
        }
        p{
        font-size: 1.5em;
        margin-right: 5%;
        }
       
    }
    .proform{
        h3{
            font-size: 1em;  
        }
    }
}.campsinfo{
  font-size: 1.2em;
 margin-right: 1%;
}
.programs{
  .title{
    width: 100%;
  text-align: center;
  font-size: 2em;
  display: grid;
  }
}
}
  

    
  
  @media screen and (min-width: 600px) {
    
  }